

<div>
	{%  if repres.recordcount==0 %}
		No records found.
	
	{%  else  %}

	

			{%  for r in repres.records  %}
			<div class="row">
				<div class="col-md-2">
					{{ r.invoicenum }}				
				</div>			
				<div class="col-md-2">
					{{ r.invoicedate |date('Y-m-d') }} 				
				</div>
				<div class="col-md-2">
					{{ r.invoiceamount }}				
				</div>
				
			</div>			
			{%  endfor  %}
		
			<div class="row">
				<div class="col-md-4">
					{{ repres.recordcount }}
				</div>
				<div class="col-md-2">
					{{ repres.sum }}
				</div>
			</div>
		
		</div>
{%  endif %}		