{% extends 'base.html.twig' %}

{% block body %}


{# app/Resources/views/default/new.html.twig #}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_label(form.transcripts) }}
{{ form_errors(form.transcripts) }}



	

	

  {# store the prototype on the data-prototype attribute #}
    <ul id="transcript-fields-list"">
        {% for transcript in form.transcripts %}
            <li>
                {{ form_errors(transcript) }}
                {{ form_widget(transcript) }}
            </li>
        {% endfor %}
        
        <li>
        	<select name="transcripts[]">
        			<option></option>
        	</select>
        	
        </li>
        
        <a href="#" id="add-another-transcript">Add another transcript</a>
    </ul>
	
	


{{ form_end(form) }}

{% endblock %}
{% block javascripts %}
	<script  src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>

    <script type="text/javascript">
        // keep track of how many transcript fields have been rendered
        var transcriptCount = '{{ form.transcripts|length }}';
    
        jQuery(document).ready(function() {
            jQuery('#add-another-transcript').click(function(e) {
                e.preventDefault();
    
                var transcriptList = jQuery('#transcript-fields-list');
    
                // grab the prototype template
                var newWidget = transcriptList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your transcripts
                // end name attribute looks like name="contact[transcripts][2]"
                newWidget = newWidget.replace(/__name__/g, transcriptCount);
                transcriptCount++;
    
                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(transcriptList);
            });
        })
    </script>


{% endblock %}



